In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
TROT = np.power(2, 1/12)
QRTR = np.power(2, 1/24)
C0  = 440 * np.power(TROT, -57)

In [4]:
def format_dec(x):
  return "{0:0.2f}".format(x)

def gen_linspace(size=((24*9)-1), factor=QRTR):
  index = 1
  yield format_dec(C0)
  while index < size:
      yield format_dec(C0 * np.power(factor, index))
      index += 1
  yield format_dec(C0 * np.power(factor, index))

In [20]:
rows = ['C DO', 'C DO 1/4', 'C DO #', 'C DO 3/4',
        'D RE', 'D RE 1/4', 'D RE #', 'D RE 3/4',
        'E MI', 'E MI 3/4',
        'F FA', 'F FA 1/4', 'F FA #', 'F FA 3/4',
        'G SOL', 'G SOL 1/4', 'G SOL #', 'G SOL 3/4',
        'A LA', 'A LA 1/4', 'A LA #', 'A LA 3/4',
        'B SI', 'B SI 3/4']

def gen_octaves():
  notes = list(gen_linspace(24*9, QRTR))
  # yield rows
  for i in range(9):
    start = i*24
    yield notes[start:start+24]

def rotate(octaves):
  for note in range(24):
    yield [octave[note] for octave in octaves]


octaves = list(gen_octaves())

data = list(rotate(octaves))
# print(data)

df = pd.DataFrame(data, index=rows)

df.style.set_table_attributes('style="font-size: 10px"')